{{#with data}}
  <div class='footer-pages'>
    {{#each pages}}
      <a href='{{path}}'>{{name}}</a>
    {{/each}}
  </div>
  <div class='footer-copyright'>
    <span>{{copyright}}</span>
  </div>
{{/with}}